version: 2
jobs:
  build:
    working_directory: ~/ngx-dynamics
    docker:
      - image: circleci/node:10.15.1-jessie-browsers-legacy
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn install
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
            - ./node_modules
      - run:
          name: Build app
          command: yarn build
      - run:
          name: Deployment of the App
          command: yarn deploy
